.genres{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .2rem;
}
.genre{
    font-size: .6rem!important;
    font-weight: 500;
    background: var(--card-2);
    color: var(--white);
    padding: .3rem;
    border-radius: .3rem;
}