.welcome-page{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: var(--theme);

    display: flex;
    flex-direction: column;
}

.welcome-container{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.welcome-msg{
    font-size: 4rem;
    text-align: center;
    padding-inline: 5%;
}
.intro{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-inline: 5%;
    color: var(--white)!important;
}


.welcome-container img{
    /* position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 40rem;
    max-width: 90%;
    margin-bottom: 2rem;
    /* opacity: .2; */
}


.progress{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.progress-track{
    width: 50rem;
    max-width: 40%;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--purple-grey);
    overflow: hidden;
    position: relative;
}

.progress-bar{
    height: 1.5rem;
    background-color: rgb(5, 228, 5);
}

.progress-percent{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: black!important;
    font-weight: 500;
}


@media (max-width: 900px){
    .welcome-msg{
        font-size: 3rem;
    }
    .intro{
        font-size: 1rem;
    }
}

@media (max-width: 500px){
    .welcome-msg{
        font-size: 2.5rem;
    }
}